{% extends "common/layout.html" %}
{% block master_override_block %}
<div class="row logging_wrapper">
<div class="large-6 columns large-centered">
<fieldset class="social_login_wrapper">
	<legend>Social Network</legend>
	<a href="{% url 'socialauth_begin' 'facebook' %}" ><img src="{{ STATIC_URL }}images/facebook_button.png"></a>
	<a href="{% url 'socialauth_begin' 'twitter' %}" ><img src="{{ STATIC_URL }}images/twitter_button.png"></a>
	<h5><small>use Facebook / Twitter for hassle free register process</small></h5>
</fieldset>
<fieldset>
	<legend>Register Form</legend>
	<form class="member_edit_profile" action="/register/" method="POST">
	{% if form.errors %}
		<div class="row error_wrapper">
			<div class="large-16 columns">
				{{ form.errors }}
			</div>
		</div>
	{% endif %}
	{{ form.username.errors }}
	<input name="username" id="id_username" type="input" placeholder="Username">

	{{ form.email.errors }}
	<input name="email" id="id_email" type="input" placeholder="Email Address">

	<div class="register_password_form">
		{{ form.password.errors }}
		<input name="password" id="id_password" type="password" placeholder="Password">
		{{ form.password2.errors }}
		<input name="password2" id="id_password2" type="password" placeholder="Confirm Password">
	</div>

	<input type="submit" value="REGISTER" class="button small">
	{% csrf_token %}
	</form>
</fieldset>
</div>
</div>
{% endblock master_override_block %}
{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>
{% endblock javascript %}