{% extends "member/cpanel/index.html" %}
{% block cpanel_profile_block %}
<div class="row">
	<div class="large-6 columns">
<form class="member_edit_profile" action="/member/cpanel/change_password" method="POST">
{% if form.non_field_errors %}
	<fieldset class="error_wrapper">
		<legend>Errors</legend>
		<div class="large-16 columns">
			{{ form.non_field_errors }}
		</div>
	</fieldset>
{% endif %}
<fieldset>
	<legend>Change your password</legend>
	<div class="register_password_form">
		{{ form.password.errors }}
		<input name="password" id="id_password" type="password" placeholder="New Password">
		{{ form.password2.errors }}
		<input name="password2" id="id_password2" type="password" placeholder="Confirm New Password">
	</div>
</fieldset>
{% csrf_token %}
<input type="submit" value="SAVE PASSWORD" class="button small">
</form>
</div></div>
{% endblock cpanel_profile_block %}
{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>
{% endblock javascript %}