@media only screen and (max-width: 960px){
	.top-bar-section > ul.right{
		display: none !important;
	}
}
.full_image{
	left: 0;
	right: 0;
    background: none repeat scroll 0 0 rgba(3, 3, 3, 0.84);
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
}
.full_image > div{
	position: relative;
}
.full_image img {
	display: block;
	margin: 0 auto;
    border: 1px solid white;
    padding: 0.3em;
    max-width: 70%;
}

input.error_field, div.error_field, select.error_field{
	border: 2px solid #FF7306 !important;
}
.search_box{
	border: 2px solid #1D84E6;
	height: 35px;
}
.search_box input {
	background: transparent;
	color: #777;
    border: medium;
    height: 30px;
    min-width: 10em;
    vertical-align: top;
}
.search_box input[type='submit']{
	display: none;
}
.search_box a:hover{
	color: #7EA8DC !important;
	background-color: white !important;
}
#search_results{
	border: 2px solid #1D84E6;
}
#search_results > *:first-child{
	padding: 1em 1.5em 0;
}
#search_results .gsc-control-cse.gsc-control-cse-en{
    padding: 0em 1.5em;
}
div.row.error_wrapper{
	padding: 0.5em 1.25em;
	margin-bottom: 0.75em;
	border: 2px solid #ff7306;
}
.error_wrapper .errorlist{
    margin: 0 -1.375em;
    max-width: none;
    padding: 0em 1.25em;
}
.errorlist{
	margin: 0.5em 0 0;
    color: #ff7306;
    font-size: 0.9em;
    list-style: none outside none;
}

#website_title > *{
	display: inline-block;
	margin-left: 2em;
	width: 200px;
}
#website_title span{
	text-shadow: 0px 1px 1px #EFEFEF;
	color: #ff7306;
}
.button.small.social_button{
	border: 0 none;
    font-family: Arial;
    font-size: 1.6em;
    margin: 0;
    padding: 0.12em 0.56em;
    -webkit-text-size-adjust: none;
}
#facebook_button{
    background-color:  #3B5999;
    border-color: #3B5999;
}
#twitter_button{
	background-color: #67B7BB;
	border-color: #67B7BB;
}
div.row_wrapper{
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 1em;
}
div.row_wrapper > *:last-child{
	margin-top: 0.3em;
}
.deal_thumbnail{
	margin-bottom: 0.5em;
}
div.thumbs_wrapper{
	text-align: center;
}
div.thumbs_wrapper > div {
	border: 1px solid #d7d7d7;
	padding-top: 0.3em;
}
div.thumbs_wrapper i{
	font-size: 1.7em;
}
div.thumbs_wrapper h4{
	display: inline-block;
	vertical-align: top;
	margin: 0 0.2em;
	color: #4D4D4D;
}
.deal_title a{
	color: #ff7306;
}
.deal_small span{
	margin-right: 1.5em;
}
.thumbs_wrapper a{
	color: #4D4D4D;
}
a.vote_login_prompt{
	display: block;
    font-size: 0.8em;
    color: #1D84E6;
    margin-bottom: 0.5em;
}
.promo_category{
	padding: 0 !important;
}
.promo_category > p{
	font-size: 0.7em;
}
.deal_title > small{
	margin-left: 1em;
}

div.deal_description{
	max-height: 5.8em;
	overflow: hidden;
}
.deal_footer{
	margin-bottom: 0.5em;
}
a#new_deal{
    background: none repeat scroll 0 0 #ff7306;
    border-color: #ff7306;
    text-transform: uppercase;
}
#content > *:first-child, #sidebar > *:first-child{
	margin-top: 1em;
}
#sidebar > div{
	border: 2px solid #d7d7d7;
	margin-bottom: 1em;
	padding: 0.2em 0.75em 0.95em;
}
#top_votes > h5, #top_votes > h6{
	text-align: center;
	padding-bottom: 0.5em;
}
#sidebar > div > *:first-child{
	padding-top: 0.2em;
	border-bottom: 2px solid #d7d7d7;
	color: #777777;
	text-align: center;
	padding-bottom: 0.3em;
}
#sidebar > .social_sidebar > *:not(:first-child){
	margin-top: 0.5em;
}
#top_votes > *:last-child{
	margin-top: 0.5em;
	color: #818181;
}

#hot_deal_list{
	padding: 0 0.5em;
}
.fb-like-box_wrapper{
	height: 288px;
    overflow: hidden;
    width: 253px;
}
.fb-like-box_wrapper > div{
	margin: -1px 0 0 -1px;
}


/*/////////////////////////////// NEW PROMOTION PAGE ////////////////////////////////////*/
.new_deal_wrapper{
	margin-top: 0.78em;
}
.deal_form{
	padding-left: 0.95em;
}
.deal_form > *.row{
	padding-top: 1.5em;
	margin-bottom: 1.25em;
}
legend > small {
	font-weight: normal;
	font-size: 75%;
}
.deal_form input,select{
	margin-bottom: 0.75em;
}
.deal_form > *:first-child {
    margin-top: -0.42em;
}
select{
	border: 2px solid #828383;
}


/*/////////////////////////////// LOGGING PAGE ////////////////////////////////////*/
div.register_password_form{
	margin: 0.8em 0;
}
.member_edit_profile div.register_password_form > input{
	margin-top: 0;
}
#login_register_redirect{
	margin-top: 0.2em;
	font-size: 0.85em;
}
.logging_wrapper fieldset{
	text-align: center;
}

.logging_wrapper form > input:last-child{
	font-size: 0.8125em;
	padding: 0.5625em 1.125em 0.625em;
	background: #1D84E6;
	border: 2px solid #1D84E6;
	color: white;
	font-weight: bold;
	line-height: 1;	
}
.logging_wrapper input{
	margin: 0 auto 1em;
	padding: 0 0.5em;
	font-size: 0.75em;
	height: 3.20em;
	width: 69%;
	display: block;
}
.logging_wrapper > div{
	margin-top: 1.23em;
}
.logging_wrapper form{
	margin: 0.4em 0;
}
.social_login_wrapper a{
	display: block;
	margin-bottom: 0.5em;
}

/*/////////////////////////////// MEMBER PAGE ////////////////////////////////////*/
.member_wrapper{
	margin-top: 1em;
}
.member_wrapper > *:first-child{
	margin-bottom: 0.5em;
}
#member_menu_list{
	list-style: none;
}
#member_menu_list > li.active{
	background-color: #919191;
}
#member_menu_list > li.active > a{
	color: white;
}
#member_menu_list > li > a{
	color: #919191;
	display: block;
}
#member_menu_list > li:last-child {
    border-bottom: 2px solid #dddddd;
}
#member_menu_list > li {
	border-color: #dddddd !important;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    padding: 0.3em 1em;
    font-weight: bold;
}

.member_deal_wrapper .vote i{
	vertical-align: sub;
	font-size: 1.2em;
}
.member_deal_wrapper td:first-child:not([colspan="2"]) {
    width: 9%;
    font-weight: bold;
}
.member_deal_wrapper h5{
	margin: 5px 0 0;
}

.member_edit_profile fieldset:first-child{
	margin-top: -0.4em;
}

.member_deal_list_edit th, .member_deal_list_edit td:first-child, .member_deal_list_edit td:last-child{
	text-align: center;
}
.member_deal_list_edit i[class*="foundicon-"]{
	vertical-align: middle;
}
.member_deal_list_edit td:nth-child(3){
	min-width: 14em;
}
.member_deal_list_edit td:last-child {
    min-width: 7em;
}
.member_deal_list_edit td:last-child i{
	font-size: 1.5em;
}
.member_deal_list_edit td:last-child a:last-child{
	color: #BA0000;
}
._4s7c{
	border-color: transparent;
}
.fb_edge_comment_widget {
  display: none !important;
}

.about_us_wrapper ul{
	font-size: 0.9em;
}

/*/////////////////////////////// FOOTER ////////////////////////////////////*/
.footer.row{
	z-index: 10;
}
.footer.row > div{
	text-align: center;
}
.footer.row ul{
	margin-top: 2em;
	padding-top: 1em;
	border-top: 2px solid #1D84E6;
	list-style-type: none;
}
.footer.row li{
	font-size: 0.8em;
	margin: 0 0.5em;
	display: inline-block;
}