{% extends "common/layout.html" %}
{% block content_block %}
<div class="row_wrapper">
	<div class="row">
		<div class="large-16 columns">
			<h5 class="promotion_title">
				{{ promotion.title }}
			</h5>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<p>{{ promotion.content | safe }}</p>
		</div>
		<div class="large-4 columns">
			<div class="row">
				<img src="{{ MEDIA_URL }}{{ promotion.promo_image }}">
						<div class="row">
			<div class="large-15 columns thumbs_wrapper">
				<a class="like_promotion" promo="{{ promotion.id }}"><i class="foundicon-thumb-up"></i></a>
				<h4>{{ promotion.total_vote|floatformat:"0" }}</h4>
				<a class="dislike_promotion" promo="{{ promotion.id }}"><i class="foundicon-thumb-down"></i></a>
			</div>
		</div>
				<p><b>Category</b><br><a href="/promotion/{{ promotion.category_pk.id }}/{{ promotion.category_pk.name }}">{{ promotion.category_pk.name }}</a></p>
				{% if promotion.subcategory %}
					<p><b>Subcategory</b><br><a href="/promotion/{{ promotion.category_pk.id }}/{{ promotion.category_pk.name }}/{{ promotion.subcategory_pk.id }}/{{ promotion.subcategory_pk.name }}">{{ promotion.subcategory_pk.name }}</a></p>
				{% endif %}
				<p><b>Valid From</b><br>
					{{ promotion.date_started | date:"l, d F" }}<br>
					-<br>
					{{ promotion.date_ended | date:"l, d F" }}
				</p>
				
			</div>
		</div>
	</div>
		<div class="row">
			<div class="large-15 columns thumbs_wrapper">
				<a class="like_promotion" promo="{{ promotion.id }}"><i class="foundicon-thumb-up"></i></a>
				<a class="dislike_promotion" promo="{{ promotion.id }}"><i class="foundicon-thumb-down"></i></a>
				<h4>{{ promotion.total_vote|floatformat:"0" }}</h4>
			</div>
		</div>
</div>
{% endblock content_block %}