{% extends "common/layout.html" %}
{% block master_override_block %}
<div class="large-16 columns about_us_wrapper">
	<div class="row">
		<div class="large-16 columns">
			<h5>
			What's Kiasu Me ?
			</h5>
			<p>
				Kiasu Me is a place where you can find all discounts, bargains and deals currently offered by shops all around Singapore.<br>
				Its a place where fellow kiasu-ers share their loots ( or interesting discoveries ) and hunt for items.<br>
				By Singaporeans for Singaporeans.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="large-16 columns">
			<h5>Are you a "KIASU-er" ?</h5>
			<p>
				Browse bargains and start your hunt!<br>
				Like a bargain? give a THUMBS-UP! Share with others!<br>
				Note that voting requires you to login, its easier if you have a Facebook or Twitter account
			</p>
		</div>
	</div>
	<div class="row">
		<div class="large-16 columns">
			<h5>
			Wanna Post a Deal?
			</h5>
			<p>
				Posting at Kiasu.Me is absolutely free!<br>
				If you are a business owner, we strongly encourage you to post any new deals that are currently available to drive more traffic to your business.<br>
				Own a blog shop? you're welcome! :)
			</p>
			<p>We however do have a few rules enforced to keep things clean for the benefit of both you and other dear visitors</p>
			<ul>
				<li>You need to register for an account to post ( psst ... do you know you can register using Facebook / Twitter ? )</li>
				<li>Maximum of <b>2 posts / day</b></li>				
				<li>2MB size limit for both image and files. If your image is too big, consider upload it as a file</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="large-16 columns">
			<h5>Contact us!</h5>
			<p>
				If you have any suggestions, complaints, or any other enquiries please contact to either one of email below.<br>
				Email : <a href="mailto:david@kiasu.me">david@kiasu.me</a><br>
				Email : <a href="mailto:support@kiasu.me">support@kiasu.me</a>
			</p>
		</div>
	</div>	
</div>
{% endblock master_override_block %}
{% block javascript %}
{% endblock javascript %}