{% for deal in deals %}
{% if forloop.counter == 2 or forloop.counter == 8 %}
<div class="row_wrapper">
	<div class="row">
		<div class="large-16 columns" id="google-ads-1">
			<script type="text/javascript">
				adUnit   = document.getElementById("google-ads-1");
				adWidth  = adUnit.offsetWidth;
			 
				/* Replace this with your AdSense Publisher ID */
				google_ad_client = "ca-pub-8980377318568626";
			 
				if ( adWidth >= 728 ) {
				  /* Leaderboard 728x90 */
					google_ad_slot = "3680775796";
					google_ad_width = 728;
					google_ad_height = 90;
				} else if ( adWidth >= 490 ) {
				  /* Banner (468 x 60) */
					google_ad_slot = "5530782193";
					google_ad_width = 468;
					google_ad_height = 60;
				} else if ( adWidth >= 356 ) {
				  /* Large Rectangle (336 x 280) */
					google_ad_slot = "1379784191";
					google_ad_width = 336;
					google_ad_height = 280;
				} else if ( adWidth >= 270 ) {
				  /* Large Rectangle (336 x 280) */
					google_ad_slot = "7007515391";
					google_ad_width = 250;
					google_ad_height = 250;
				} else {
				  /* Do not display the Google Ad */
				  google_ad_slot		= "0";
				  adUnit.style.display	= "none";
				}
		 	</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
		</div>
	</div>
</div>

{% endif %}
<div class="row_wrapper">
	<div class="row">
		<div class="large-16 columns">
			<h5 class="deal_title">
				<a href="/deal/view/{{ deal.id }}/{{ deal.slug }}">{{ deal.title }}</a>
				{% if deal.link %}
					<a href="{{ deal.link }}" target="_blank"><small>[link]</small></a>
				{% endif %}
			</h5>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<h5 class="deal_small">
				<small>
					<span>By <a href="/member/{{ deal.member_pk.id }}">{{ deal.member_pk.username | upper }}</a></span>
					<span>Category : <a href="/deal/{{ deal.category_pk.id }}/{{ deal.category_pk.name }}">{{ deal.category_pk.name }}</a> -
									 <a href="/deal/{{ deal.category_pk.id }}/{{ deal.category_pk.name }}/{{ deal.subcategory_pk.id }}/{{ deal.subcategory_pk.name }}">{{ deal.subcategory_pk.name }}</a>
					</span>
				</small>
			</h5>
			<div class="deal_description">{{ deal.content | safe }}</div>
		</div>
		<div class="large-4 columns">
			{% if deal.promo_image %}
			<div class="row">
				<!--<a href="/deal/view/{{ deal.id }}/{{ deal.slug }}">-->
				<a>
				<img class="large-16 columns deal_thumbnail" src="{{ MEDIA_URL }}{{ deal.promo_thumbnail }}" full_src="{{ MEDIA_URL }}{{ deal.promo_image }}">
				</a>
			</div>
			{% endif %}
			<div class="row">
				<div class="large-16 columns thumbs_wrapper" promo_id="{{ deal.id }}">
				<div>
				<a class="like_deal" promo_vote="1" ><i class="social foundicon-thumb-up"></i></a>
				<h4 class="vote_display color">{{ deal.total_vote|floatformat:"0" }}</h4>
				<a class="dislike_deal" promo_vote="-1" ><i class="social foundicon-thumb-down"></i></a>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-16 columns deal_footer">
			<h5 class="deal_small">
			<small>
				<span><b>Posted : </b>{{ deal.date_created | date:"l, d F - h:i A" }}</span>
				{% if deal.date_ended %}
				<span><b>Valid : </b>{{ deal.date_started }} - {{ deal.date_ended }}
				{% else %}
				<span><b>Valid From : </b>{{ deal.date_started }}
				{% endif %}
				</span>
			</small>
			</h5>
		</div>
	</div>
</div>
{% endfor %}
<div class="pagination-centered">
<ul class="pagination">
	{% if deals.has_next %}
	<li class="arrow right"><a class="button small" href="{{ pagination_url }}{{ deals.next_page_number }}">NEXT</a></li>
	{% endif %}
	
	{% if deals.has_previous %}
	<li class="arrow right"><a class="button small" href="{{ pagination_url }}{{ deals.previous_page_number }}">PREVIOUS</a></li>
	{% endif %}
</ul>
</div>