{% extends "common/layout.html" %}
{% block master_override_block %}
<div class="large-16 columns about_us_wrapper">
	<div class="row block_1">
		<div class="large-8 columns large-centered" style="text-align:center">
			<h3>
			WE NEED YOUR SUPPORT!
			</h3>
			<p>
				FIRST of all, i would like to say thank you for visiting our website.<br>
				however we are still small and we need your support to grow up<br>
				LIKE and TWEET everytime you view our bargains.<br>
				<b>a few seconds nia....not so hard right?</b><br>
				share to your friends how awesome KiasuMe is!
			</p>
			<div>
			<div>
			<div class="fb-like" data-href="https://www.facebook.com/KiasuMe" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
			<a href="https://twitter.com/share" class="twitter-share-button sorry-share" data-url="http://kiasu.me" data-count="vertical" data-text="Wanna know about latest discounts, bargains and deals in Singapore? follow @KiasuMe guys!" data-hashtags="bargain" style="vertical-align:bottom">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			<button id="share_fb" class="tiny" style="display:block; margin:1% auto">Share on Facebook</button>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock master_override_block %}
{% block javascript %}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=139156246267349";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
window.fbAsyncInit = function(){
	FB.Event.subscribe('edge.create',function(response){
		fire();
	});
}

$(document).ready(function(){
	var date = new Date();
	$.cookie('e_1_temp','1', { expires: 30, path:'/' });

	$('#block').click(function(){
		$('.block_1').hide();
		$('.block_2').css('opacity','1');
		fire();
	});

	$('#unblock').click(function(){
		window.location="/"
	});

	$('#share_fb').click(function(){
		var sharer = "https://www.facebook.com/sharer/sharer.php?u=";
		var location = "http://kiasu.me";
		window.open(sharer + location, 'sharer', 'width=626,height=436');
		fire();
	});
});


function fire(){
	console.log('fire');
	var date = new Date();
	var hours = 168;
	date.setTime(date.getTime() + (hours * 60 * 60 * 1000));
	$.cookie('e_1_temp','1', { expires: date, path:'/' });
}
</script>
{% endblock javascript %}