<!DOCTYPE html>
{% load staticfiles %}
{% load deal_tags %}
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta name="google-site-verification" content="qkQpyc-l7OVcDJqi-dfNW6FHWADnGgRWIOX7lLDNXto" />
	{% block head_block %}
	<title>Kiasu ME - your number one stop for all discounts, bargains and sales happening now in Singapore!</title>
	<meta name="description" content="Kiasu ME - your number one stop for all discounts, bargains and sales happening now in Singapore!">
	{% endblock head_block %}
	<link rel="icon" type="image/gif" href="{{ STATIC_URL }}images/favicon.png">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundicons.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundation.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css">
	{% block css %}
	{# CUSTOM STYLESHEETS FROM VIEW #}
	{% endblock css %}
	<script type="text/javascript">
		//GOOGLE ANALYTICS
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-37895131-2']);
		_gaq.push(['_setDomainName', 'kiasu.me']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
</head>
<body>
	<div class="full_image">
		<div>
			
		</div>
	</div>
	<div class="row">
		<div class="large-16 columns">
			<a href="/" id="website_title">
				{# <h2><span>KIASU</span>ME</h2><h6 class="subheader"> got discount bo?</h6> #}
				<img src="{{ STATIC_URL }}images/logo.png">
			</a>
		<div id="login_navigation" class="right">
			{% if user.is_authenticated %}
				<a href="/logout/" class="button small secondary right">Logout</a>
				<a href="/member/cpanel/" class="button small right">Hello <i>{{ user.username }}</i> !</a>
				<a id="new_deal" href="/deal/new" class="button small right">post a deal</a>
			{% else %}
				<a href="/login/" class="button small secondary right">Login</a>
				<a href="/register/" class="button small right">Register</a>
				<a href="{% url 'socialauth_begin' 'twitter' %}" class="button small right social_button" id="twitter_button">t</a>
				<a href="{% url 'socialauth_begin' 'facebook' %}" class="button small right social_button" id="facebook_button">f</a>
			{% endif %}
		</div>
		</div>
	</div>
	<div class="row">
		<div class="large-16 columns">
				{% show_navigation_menu active=nav %}
		</div>
	</div>
	<div class="row">
		{% block master_override_block %}
		<div id="content" class="large-11 small-16 columns">
			{% block content_block %}
				{% include "common/deal_list.html" %}
			{% endblock content_block %}
		</div>
		<div id="sidebar" class="large-5 columns hide-for-small">
			{% block sidebar_block %}
				{% include "common/hot_sidebar.html" %}
			{% endblock sidebar_block %}
			{% block social_network %}
				<div class="social_sidebar hide-for-touch">
					<h5>Follow Us</h5>
					<div class="fb-like-box_wrapper">
						<div class="fb-like-box" data-href="http://www.facebook.com/KiasuMe" data-width="255" data-header="false" data-height="290" data-show-faces="true" data-stream="false" data-border-	color="#ffffff" data-header="true"></div>
					</div>
				<a href="https://twitter.com/KiasuMe" class="twitter-follow-button" data-show-count="true">Follow @KiasuMe</a>
				</div>
			{% endblock social_network %}
			<div id="chad-1">
			<script type="text/javascript">
			adUnit   = document.getElementById("chad-1");
			adWidth  = adUnit.offsetWidth;
			if (adWidth >= 295){
				ch_fluidH = 1;
				ch_nump = "5";
				ch_client = "devilcm3";
				ch_width = 290;
				ch_height = "auto";
				ch_type = "mpu";
				ch_sid = "Chitika Default";
				ch_color_site_link = "1D84E6";
				ch_color_title = "1D84E6";
				ch_color_border = "FFFFFF";
				ch_color_text = "777777";
				ch_color_bg = "FFFFFF";
			}
			</script>
			<script src="http://scripts.chitika.net/eminimalls/amm.js" type="text/javascript">
			</script>
			</div>
		</div>
		{% endblock master_override_block %}
	</div>
	<div class="footer row">
		<div class="large-16 columns large-centered">
		<ul>
			<li><a href="/about_us">ABOUT US</a></li>
			{# <li><a href="/news">NEWS</a></li> #}
			<li><a href="/disclaimer">PRIVACY</a></li>
			<li><a href="/disclaimer">DISCLAIMER</a></li>
			<li><a href="/support">NEED SUPPORT ?</a></li>
		</ul>
		<p>Copyright © 2013 Kiasu Me. All Rights Reserved</p>
		</div>
	</div>
	<div id="fb-root"></div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript"></script>
	<script>
	document.write('<script src={{ STATIC_URL }}js/vendor/'+ ('__proto__' in {} ? 'zepto' : 'jquery')+ '.js><\/script>');
	</script>
	<script src="{{ STATIC_URL }}js/foundation/foundation.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/foundation/foundation.topbar.js"type="text/javascript"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/layout.js"></script>
	{% block javascript %}
	{# CUSTOM JAVASCRIPT FROM VIEW #}
	<script type="text/javascript" src="{{ STATIC_URL }}js/deal/index_view.js"></script>
	{% endblock javascript %}
</body>
</html>
