{% extends "common/layout.html" %}
{% block master_override_block %}
<div class="large-16 columns about_us_wrapper">
	<div class="row">
		<div class="large-16 columns">
			<h5>
			Sorry :(
			</h5>
			<p>
				As much as we love to bring you the latest deals and bargain.<br>
				We also need to pay for the costs of running the website.<br>
				If you are currently running an Ad Blocker, please kindly add us to your whitelist.<br><br>
				We promise, no annoying ads, no popups, just simple ads.<br>
				Simply by viewing our banners you have helped us to keep this website up and running<br>
				Thank you very much!
			</p>
		</div>
	</div>
	<div class="row">
		<div class="large-16 columns">
			<h5>Contact us!</h5>
			<p>
				If you have any suggestions, complaints, or any other enquiries please contact to either one of email below.<br>
				Email : <a href="mailto:david@kiasu.me">david@kiasu.me</a><br>
				Email : <a href="mailto:support@kiasu.me">support@kiasu.me</a>
			</p>
		</div>
	</div>	
</div>
{% endblock master_override_block %}
{% block javascript %}
{% endblock javascript %}