{% extends "common/layout.html" %}
{% block master_override_block %}
<div class="large-16 columns support_wrapper">
<div class="row">
	<div class="large-6 columns">
		<h5>Do you have any issues with the website? Improvements or Feedback?</h5>
		<p>Please email to us and we will assist with your enquiry as soon as possible.<br>
			Email : <a href="mailto:support@kiasu.me">support@kiasu.me</a><br>
			<b>OR</b><br><br>
			You can fill the enquiry form on the right
		</p>
	</div>
	<div class="large-10 columns">
<iframe src="https://docs.google.com/forms/d/1_yd0dDo_ilvcKE5LOJ80iZvj5k-TFtwnvP--bo8rKTk/viewform?embedded=true" width="595" height="766" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
</div>
</div>
{% endblock master_override_block %}
{% block javascript %}
{% endblock javascript %}