{% extends "common/layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
{% endblock css %}



{% block content_block %}
<div class="new_deal_wrapper">
	<div class="row">
		<div class="large-16 columns">
		<form action="/deal/new/" method="POST" enctype="multipart/form-data" class="deal_form" onsubmit="return dealValidation()">
			{% if form.non_field_errors %}
			<fieldset class="row error_wrapper">
				<legend>Errors</legend>
				<div class="large-16 columns">
					{{ form.non_field_errors }}
				</div>
			</fieldset>
			{% endif %}
			<fieldset class="main_info row">
				<legend>Main Info</legend>
				<div class="large-16 columns">
					<span data-tooltip class="has-tip tip-right" title="Max Characters : 150">
					{{ form.title.label_tag }}{{ form.title.errors }}{{ form.title }}
					</span>
				</div>
				<div class="large-16 columns">
					<span data-tooltip class="has-tip tip-right" title="Link to deal website">
					{{ form.link.label_tag }}{{ form.link.errors }}{{ form.link }}
					</span>
				</div>
				<div class="large-16 columns">
					<span data-tooltip class="has-tip tip-right" title="Max Characters : 2000">
					{{ form.content.label_tag }}{{ form.content.errors }}{{ form.content }}
					</span>
				</div>
			</fieldset>
			<fieldset class="dates row">
				<legend>Date</legend>
				<div class="large-7 columns">
				<div class="row">
				<div class="large-16 columns">
				<span data-tooltip class="has-tip tip-right" title="starting from today">					
				{{ form.date_started.label_tag }}{{ form.date_started.errors }}{{ form.date_started }}
				</span>
				</div>
				</div>
				<div class="row">
				<div class="large-16 columns">
				<span data-tooltip class="has-tip tip-right" title="must be same as or later than 'Date Started'">
				{{ form.date_ended.label_tag }}{{ form.date_ended.errors }}{{ form.date_ended }}
				</div>
				</div>
			</fieldset>
			<fieldset class="files row">
				<legend>Images and Files</legend>
				<div class="large-14 columns">
				{{ form.promo_image.label_tag }}
				<span data-tooltip class="has-tip tip-right" title="max size : 2MB">
				{{ form.promo_image }}
				</span>

				{{ form.promo_file.label_tag }}
				<span data-tooltip class="has-tip tip-right" title="max size : 2MB">
				{{ form.promo_file }}
				</span>
				</div>
			</fieldset>
			<fieldset class="category row">
				<legend>Categorize Deal</legend>
				<div class="large-7 columns">
					<div class="row">				
						<div class="large-16 columns">
						<label for="id_category_pk">Category</label>
						<span data-tooltip class="has-tip tip-right" title="must be selected">
						{{ form.category_pk }}
						{{ form.category_pk.errors }}
						</div>
						</span>
					</div>
					<div class="row">
						<div class="large-16 columns subcategory_row">
						<label for="id_subcategory_pk">Sub Category</label>
						<span data-tooltip class="has-tip tip-right" title="optional">
						<p class="subcategories" style="display:none">{{ subcategories }}</p>
						</span>
						</div>
					</div>
				</div>
			</fieldset>
			{% csrf_token %}
			<fieldset class="row js_error">
				<div class="large-16 columns">
					<ul class="errorlist"><li>You have errors, please check input boxes hightlighted with orange above</li></ul>
				</div>
			</fieldset>
			 <input type="submit" value="SUBMIT DEAL" class="button right">
		</form>
		</div>
	</div>
</div>
{% endblock content_block %}
{% block sidebar_block %}
	
{% endblock sidebar_block %}


{% block javascript %}
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/foundation/foundation.tooltips.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/deal/new_deal.js"></script>
{% endblock javascript %}